/* _variables.scss */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #000000; }

img {
  width: 100%;
  height: auto; }

.h1 {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 100;
  color: #fff; }

.site__copy {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
  color: #fff; }

.icon-arrow-down {
  width: 21px;
  stroke: #fff;
  height: 31px; }

.nav {
  display: none; }

#main {
  position: relative; }

.body-section {
  position: relative;
  display: block; }
  .body-section .landing__section {
    height: 100vh;
    position: relative; }
    .body-section .landing__section .logo {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      width: auto;
      z-index: 100;
      text-align: center; }
      .body-section .landing__section .logo img {
        width: auto; }
    .body-section .landing__section .landing__img.blur {
      opacity: 1; }
    .body-section .landing__section .landing__img img {
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      -webkit-transition: all 0.6s;
      transition: all 0.6s; }
  .body-section .branding__info {
    position: relative;
    top: calc(100vh - 60px);
    text-align: center; }
  .body-section .info__section {
    position: relative;
    height: auto;
    display: block; }
    .body-section .info__section .wrap {
      text-align: center;
      padding: 250px 0; }
      .body-section .info__section .wrap .site__copy {
        max-width: 500px;
        margin: 0 auto; }

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.nav {
  -webkit-transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 700;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .nav .inner {
    position: relative;
    overflow: hidden; }
  .nav .logo {
    height: 58px;
    width: 192px;
    float: left;
    position: relative;
    display: inline-block;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .nav .logo:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7; }
    .nav .logo .icon-condenast {
      position: absolute;
      top: -5px;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 170px;
      height: 23px;
      display: block; }
  .nav .brands-toggle {
    border-left: 1px solid #f3f0f0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 58px;
    width: 105px; }
    .nav .brands-toggle .st0 {
      -webkit-transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .nav .brands-toggle:hover .s1 {
      -webkit-transform: translate3d(-2px, -2px, 0);
              transform: translate3d(-2px, -2px, 0); }
    .nav .brands-toggle:hover .s2 {
      -webkit-transform: translate3d(-2px, 0, 0);
              transform: translate3d(-2px, 0, 0); }
    .nav .brands-toggle:hover .s3 {
      -webkit-transform: translate3d(0, -2px, 0);
              transform: translate3d(0, -2px, 0); }
    .nav .brands-toggle:hover .s5 {
      -webkit-transform: translate3d(2px, -2px, 0);
              transform: translate3d(2px, -2px, 0); }
    .nav .brands-toggle:hover .s6 {
      -webkit-transform: translate3d(2px, 0, 0);
              transform: translate3d(2px, 0, 0); }
    .nav .brands-toggle:hover .s7 {
      -webkit-transform: translate3d(-2px, 2px, 0);
              transform: translate3d(-2px, 2px, 0); }
    .nav .brands-toggle:hover .s8 {
      -webkit-transform: translate3d(0, 2px, 0);
              transform: translate3d(0, 2px, 0); }
    .nav .brands-toggle:hover .s9 {
      -webkit-transform: translate3d(2px, 2px, 0);
              transform: translate3d(2px, 2px, 0); }
    .nav .brands-toggle .icon-wrap {
      height: 20px;
      margin: auto;
      position: absolute;
      text-align: center;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      .nav .brands-toggle .icon-wrap span::after {
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        content: '';
        position: absolute;
        bottom: 2px;
        right: 50%;
        left: 50%;
        height: 1px;
        background-color: transparent; }
      .nav .brands-toggle .icon-wrap:hover span {
        text-decoration: none; }
        .nav .brands-toggle .icon-wrap:hover span::after {
          right: 0;
          left: 0;
          background-color: #000000;
          background-color: currentColor; }
    .nav .brands-toggle .icon-brand {
      position: relative;
      top: 2px;
      margin: 0 5px 0 0;
      overflow: visible; }
    .nav .brands-toggle span {
      font-size: em(13px);
      display: inline-block;
      font-weight: 600;
      position: relative; }
  .nav .nav-wrap {
    background-color: #f3f0f0;
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    display: block; }
    .nav .nav-wrap.show-fade:after, .nav .nav-wrap.show-fade:before {
      content: '';
      width: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      background-position: top right;
      background-repeat: repeat-y;
      z-index: 200; }
    .nav .nav-wrap.show-fade:after {
      right: 0;
      background-position: top right;
      background-image: url("images/fade-gray.png"); }
    .nav .nav-wrap.show-fade:before {
      left: 0;
      background-position: top left;
      background-image: url("images/fade-gray-left.png"); }
  .nav ul {
    padding: 0 10px;
    position: relative;
    overflow: auto;
    width: 100%;
    display: block;
    border-top: 1px solid #e6e5e6;
    white-space: nowrap;
    z-index: 100; }
    .nav ul li {
      font-size: em(13px);
      list-style-type: none;
      display: inline-block;
      padding: 0; }
      .nav ul li:last-child, .nav ul li:first-child {
        background-color: #f3f0f0; }
    .nav ul a {
      position: relative;
      outline: none;
      padding: 11px 9px;
      display: inline-block;
      text-decoration: none;
      font-weight: 600; }
      .nav ul a::after {
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        content: '';
        right: 50%;
        left: 50%;
        position: absolute;
        bottom: 13px;
        height: 1px;
        background-color: transparent; }
      .nav ul a:hover {
        text-decoration: none; }
        .nav ul a:hover::after {
          right: 10px;
          left: 10px;
          background-color: #000000;
          background-color: currentColor; }
    .nav ul .current-menu-item a::after {
      right: 10px;
      left: 10px;
      background-color: #000000;
      background-color: currentColor; }
  @media screen and (min-width: 25em) {
    .nav ul a {
      padding: 11px 10px; } }
  @media screen and (min-width: 48em) {
    .nav .inner {
      border-bottom: 1px solid #f3f0f0;
      height: 69px; }
    .nav .logo {
      height: 68px;
      width: 250px;
      float: left;
      position: relative;
      display: inline-block; }
      .nav .logo .icon-condenast {
        width: 190px;
        height: 28px; }
    .nav .nav-wrap {
      float: right;
      width: auto;
      height: 100%;
      background-color: #fff; }
      .nav .nav-wrap.show-fade::before, .nav .nav-wrap.show-fade::after {
        content: none; }
    .nav ul {
      overflow: hidden;
      margin: 0;
      padding: 19px 0 0 0;
      height: 100%;
      width: auto;
      background-color: #fff;
      border: 0; }
      .nav ul li {
        font-size: em(14px);
        padding: 0 5px;
        position: relative; }
        .nav ul li:last-child, .nav ul li:first-child {
          background-color: #fff; }
        .nav ul li:last-child {
          padding: 0 20px;
          margin: 0 0 0 10px; }
          .nav ul li:last-child::after {
            content: '';
            background-color: #f3f0f0;
            position: absolute;
            left: 0;
            top: -20px;
            bottom: -20px;
            width: 1px; }
      .nav ul a {
        padding: 5px; }
        .nav ul a::after {
          bottom: 8px; }
        .nav ul a:hover::after {
          right: 5px;
          left: 5px; }
      .nav ul .current-menu-item a::after {
        bottom: 8px;
        right: 5px;
        left: 5px; }
    .nav .brands-toggle {
      border: 0;
      position: relative;
      top: auto;
      right: auto;
      float: right;
      height: 32px;
      margin: 18px 10px 0 0;
      width: 70px; }
      .nav .brands-toggle span {
        font-size: em(14px); }
      .nav .brands-toggle .icon-wrap span::after {
        bottom: 3px; } }
  @media screen and (min-width: 50em) {
    .nav ul li {
      padding: 0 10px; }
    .nav .brands-toggle {
      margin: 18px 15px 0; } }
  @media screen and (min-width: 90em) {
    .nav .logo {
      margin: 0 0 0 10px; } }

.scrolling-up .nav {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.scrolling-up.velocity-grid-open .nav, .scrolling-up.grid-open .nav {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.velocity-grid-open .nav,
.grid-open .nav {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
